{% extends 'AppBundle::base_layout.html.twig' %}


{% block content %}

<div class="panel panel-info">
	<div class="panel-heading">
	<h1 class="panel-title">  {{ data.name }}</h1>
	</div>

	<div class="panel-body">

		<div class="row">
							<div class="col-md-5" >
								<img src="{{data.image.original}}"  class="img-thumbnail" />
							</div>

							<div class="col-md-7" style="border-left:1px solid #ccc;height:200px">
								<h2>Episode Info</h2>
						     <strong>  Summary :</strong>      {{data.summary | raw }}
								
								
							</div>
		</div> 
		
 
	</div>
	
	
	     
		
		
</div>

{% endblock %}

